<% var title = 'Bitcoin Poker- Account Information'; %>
<% include head %>
    <div id="container">
      <% if (message) { %>
        <p class="inverse"><%= message %></p>
      <% } %>
      <div id="account_info" class="inverse">  
        <h1> Account Information</h1>

        <div>
            username: <%= username %>
        </div>
        <div>
            registration date: <%= registration_date %>
        </div>
        <div>
            <% if (email === undefined) { %>
                <form action="/set_email" method="post">
                    email address:
                    <input field="text" name="email" placeholder="jklsemicolon@asdf.com" />
                    <button class="btn btn-inverse"> Submit </button>
                </form>
            <% } else { %>
                email address: <%= email %>
                <br />
                email confirmed: <%= email_confirmed %>
                <form action="/remove_email" method="post">
                    <button class="btn btn-inverse"> Remove E-mail </button>
                </form>
            <% } %>
        </div>
        <div id="funbucks">
            fun bucks: <%= funbucks %>
            <form action ="/increase_funbucks_by_100" method="post">
                <button class="btn btn-inverse"> Give me 100 funbucks! </button>
            </form>
        </div>
        
        <!--bitcoins-->
        <div>
            <h3>
            Bitcoin Management
            </h3>
            <p>Satoshi are each .00000001 Bitcoin, often abbreviated "sat".</p>
            Satoshi: <%= satoshi %>
            <br />
            <a href="/deposit_bitcoins"> <button class="btn btn-inverse">Deposit Bitcoins</button></a>
            <a href="/withdraw_bitcoins"><button class="btn btn-inverse">Withdraw Bitcoins</button></a>
        </div>

        <!--delete account -->
        <div>
            <h3>Delete Account</h3>
            <form action="/delete_account" method="post">
            <button class="btn btn-inverse">Delete</button>
            </form>
        </div>
      </div>
    </div> <!-- container -->
    <% include plugins %>
<% include foot %>