      <% if (typeof message === 'string') { %>
        <p class="inverse"><%= message %></p>
      <% } %>
        <h2> Account Information</h2>

        <div>
            username: <%= username %>
        </div>
        <div>
            registration date: <%= registration_date %>
        </div>
        <div>
            <% if (email === undefined) { %>
                <form id="set_email" action="/set_email" method="post">
                    email address:
                    <input field="text" name="email" placeholder="jklsemicolon@asdf.com" />
                    <button class="btn btn-default" value="submit"> Submit </button>
                </form>
            <% } else { %>
                email address: <%= email %>
                <br />
                email confirmed: <%= email_confirmed %>
                <form id="remove_email" action="/remove_email" method="post">
                    <button class="btn btn-default" value="submit"> Remove E-mail </button>
                </form>
            <% } %>
            <div id="set_email_error"></div>
        </div>
        <div id="funbucks">
            fun bucks: <span id = "funbucks_counter"> <%= funbucks %></span>
            <form id="increase_funbucks" action="/increase_funbucks_by_100" method="post">
                <button class="btn btn-default" value="submit"> Give me 100 funbucks! </button>
            </form>
        </div>
        
        <!--bitcoins-->
        <div>
            <h3>
            Bitcoin Management
            </h3>
            <p>Satoshi are each .00000001 Bitcoin, often abbreviated "sat".</p>
            Satoshi: <span id ="satoshi_counter"> <%= satoshi %></span>
            <br />
            <a href="/deposit_bitcoins"> <button class="btn btn-default">Deposit Bitcoins</button></a>
            <a href="/withdraw_bitcoins"><button class="btn btn-default">Withdraw Bitcoins</button></a>
        </div>

        <!--delete account -->
        <div>
            <h3>Delete Account</h3>
            <form id="delete_account" action="/delete_account" method="post">
            <button class="btn btn-default" value="submit">Delete</button>
            </form>
        </div>
