        <script src="/js/vendor/modernizr-2.6.2.min.js"></script>
    </head>
    <body>
        <!-- Prompt IE 6 users to install Chrome Frame. Remove this if you support IE 6.
             chromium.org/developers/how-tos/chrome-frame-getting-started -->
        <!--[if lt IE 7]><p class=chromeframe>Your browser is <em>ancient!</em> <a href="http://browsehappy.com/">Upgrade to a different browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to experience this site.</p><![endif]-->
        <header>
          <% if (! locals.hide_navbar) { %>      
            <nav class="navbar">
                <ul>
                    <%
                    var pages = [
                        { name: 'home', href: '/', title: 'Bitcoin Poker' },
                        { name: 'bitcoins', href: '/bitcoin_info', title: 'Bitcoin Information' },
                        { name: 'Leaders', href: '/leaderboard', title: 'Leaderboard' }
                        /*
                        { name: 'about', href: '/site_info', title: 'Site Information' },
                        { name: 'legal', href: '/legal_info', title: 'Legal Information' },
                        { name: 'promotions', href: '/promo', title: 'Promo' }
                        */
                    ],
                        i,
                        j,
                        len,
                        len2,
                        page_name,
                        page_href,
                        page_dropdown,
                        subpage_name,
                        subpage_href;

                    for (i = 0, len = pages.length; i < len; i++) {
                        page_name = pages[i].name;
                        page_href = pages[i].href;
                        page_title = pages[i].title;
                        page_dropdown = pages[i].dropdown;
                    %>
                        <li>
                            <a href="<%= page_href %>"
                               <%= title === page_title ? 'class=current_page' : '' %>
                            >
                              <%= page_name.toUpperCase() %>
                            </a>
                        </li>
                    <% } %>

                    <% if (typeof table_games !=='undefined') { %>
                      <div id="lobbyWrapperDiv">
                        <li>
                          <a href = "#" id="lobby_trigger">
                          LOBBY
                          </a>
                        </li>

                        <!-- lobby dropdown -->
                        <% if (locals.username) { %>

                        <!-- include values to expose to scripts -->
                        <input type="hidden" id="user_server_values"
                            data-username="<%= locals.username %>"
                        />
                        <% } %>

                        <div id="lobby">
                          <% include table_list %>
                        </div>
                      </div> <!-- wrapperDiv: This is to help with hoverIntent -->
                    <%  } %>

                    <li>
                        <a href="#" id="report_bug_trigger" title="Submit bugs or feedback">
                            <img src="/img/bug.png" />
                        </a>
                    </li>
                    <% include bug_report %>
                    <!-- SIGN UP dropdown Link -->
                    <li class="right">
                        <% if (locals.username) { %>
                          <a href="/logout">LOGOUT</a>
                        <% } %>
                    </li>
                    <% 
                    if (typeof locals.username !== 'string' ||
                        locals.username.substring(0, 5) === 'guest') {
                    %>
                    <li class="right">
                      <a href="#" id="register_trigger">SIGN UP</a>
                    </li>
                    <div id="register" class="dropdown_form">
                        <form action="/register" method="post">
                            <div class="username">
                                <label for="register_username">Username:</label>
                                <input id="register_username" name="username" type="text" placeholder="username" required remote="/check_username" />
                            </div>
                            <div class="password">
                                <label for="register_new_password">Password:</label>
                                <input id="register_new_password" name="new_password" type="password"  placeholder="password" required />
                            </div>
                            <div class="password">
                                <label for="register_new_password_confirm">Confirm Password:</label>
                                <input id="register_new_password_confirm" name="new_password_confirm" type="password" placeholder="password (again)" required equalTo="#register_new_password" />
                            </div>
                            <div class="email">
                                <label for="register_email">Email (optional):</label>
                                <input id="register_email" name="email" type="email" placeholder="name@domain.com" />
                            </div>
                            <input type="submit" value="Sign Up" class="btn btn-inverse"/>
                        </form>
                    </div>
                    <% } %>

                    <!--Login or Logout Link-->
                    <li class="right">
                        <% if (locals.username) { %>
                          <a href="/account" title="My Account"
                             <%= title === 'Account' ? 'class=current_page' : '' %>
                          >
                            <i class="icon-cog icon-white"></i>
                            <%= locals.username.toUpperCase() %> 
                          </a>
                        <% } else { %>
                          <a href="#" id="login_trigger">LOGIN</a>
                        <% } %>
                    </li>
                    <% if (! locals.username) { %>
                        <div id="login" class="dropdown_form">
                          <form action="/login" method="post">
                            <div class="username">
                              <label for="login_username">Username:</label>
                              <input id="login_username" name="username" type="text" placeholder="username" autofocus required />
                            </div>
                            <div class="password">
                              <label for="login_password">Password:</label>
                              <input id="login_password" name="password" type="password" placeholder="password" required />
                            </div>
                            <input type="submit" value="Login" class="btn btn-inverse" />
                          </form>
                          <div>
                            Forgetting your password? <a href="/password_recovery">Recover it.</a>
                          </div>
                          <form action="/guest_login" method="post">
                            <button class="btn btn-inverse">Play as Guest</button>
                          </form>
                        </div>
                    <% } %>
                </ul>
            </nav>
          <% } %>
        </header>