        <script src="/js/vendor/modernizr-2.6.2.min.js"></script>
    </head>
    <body>
        <!-- Prompt IE 6 users to install Chrome Frame. Remove this if you support IE 6.
             chromium.org/developers/how-tos/chrome-frame-getting-started -->
        <!--[if lt IE 7]><p class=chromeframe>Your browser is <em>ancient!</em> <a href="http://browsehappy.com/">Upgrade to a different browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to experience this site.</p><![endif]-->
        <header>
          <% if (! locals.hide_navbar) { %>      
            <nav class="navbar">
                <ul>
                    <%
                    var pages = [
                        { name: 'home', href: '/' },
                        { name: 'bitcoins', href: '/bitcoin_info' },
                        { name: 'Leaders', href: '/leaderboard'}
                        /*
                        { name: 'lobby', href: '/lobby' },
                        { name: 'about', href: '/site_info' },
                        { name: 'legal', href: '/legal_info' },
                        { name: 'promotions', href: '/promo' }
                        */
                    ],
                        i,
                        j,
                        len,
                        len2,
                        page_name,
                        page_href,
                        page_dropdown,
                        subpage_name,
                        subpage_href;

                    for (i = 0, len = pages.length; i < len; i++) {
                        page_name = pages[i].name;
                        page_href = pages[i].href;
                        page_dropdown = pages[i].dropdown;
                    %>
                        <li>
                            <a href="<%= page_href %>">
                                <%= page_name.toUpperCase() %>
                            </a>
                           <!--write nested ul for dropdowns-->
                            <% if (page_dropdown !== undefined ) { %>
                              <ul>
                              <% for (j=0, len2 = page_dropdown.length; j < len2; j++) {
                                subpage_name = page_dropdown[j].name;
                                subpage_href = page_dropdown[j].href;
                                %>
                                <li>
                                  <a href="<%= subpage_href %>">
                                      <%= subpage_name %>
                                  </a>
                                </li>
                              <% } %>  
                              </ul>
                            <% } %>
                        </li>
                    <% } %>

                    <% if (title === 'Bitcoin Poker') { %>
                      <div id="lobbyWrapperDiv">
                      <li>
                        <a href = "#" id="lobby_trigger" title="lobby">
                        LOBBY
                        </a>
                      </li>

                      <!-- lobby dropdown -->
                      <div id="lobby">
                        <% include table_list %>
                      </div>
                      </div> <!-- wrapperDiv: This is to help with hoverIntent -->
                     <%  } %>

                    <li>
                        <a href="#" id="report_bug_trigger" title="Submit bugs or feedback">
                          <img src="/img/bug.png" />
                        </a>
                    </li>
                    <% include bug_report %>
                    <!-- SIGN UP dropdown Link -->
                    <li class="right">
                        <% if (locals.username) { %>
                          <a href="/logout">LOGOUT</a>
                        <% } %>
                    </li>
                    <% 
                    if (typeof locals.username !== 'string' ||
                        locals.username.substring(0, 5) === 'guest') {
                    %>
                    <li class="right">
                      <a href="#" id="register_trigger">SIGN UP</a>
                    </li>
                    <div id="register" class="dropdown_form">
                        <form action="/register" method="post">
                            <div class="username">
                                <label>Username:</label>
                                <input type="text" name="username" placeholder="username" autofocus /><br/>
                            </div>
                            <div class="password">
                                <label>Password:</label>
                                <input type="password" name="new_password" placeholder="password" />
                            </div>
                            <div class="password">
                                <label>Confirm Password:</label>
                                <input type="password" name="new_password_confirm" placeholder="re-type password" />
                            </div>
                            <input type="submit" value="Sign Up" class="btn btn-inverse"/>
                        </form>
                    </div>
                    <% } %>

                    <!--Login or Logout Link-->
                    <li class="right">
                        <% if (locals.username) { %>
                          <a href="/account" title="My Account">
                              <i class="icon-cog icon-white"></i>
                              <%= locals.username.toUpperCase() %> 
                          </a>
                        <% } else { %>
                          <a href="#" id="login_trigger">LOGIN</a>
                        <% } %>
                    </li>
                    <% if (! locals.username) { %>
                        <div id="login" class="dropdown_form">
                          <form action="/login" method="post">
                            <div class="username">
                              <label>Username:</label>
                              <input type="text" name="username" placeholder="username" autofocus /><br/>
                            </div>
                            <div class="password">
                              <label>Password:</label>
                              <input type="password" name="password" placeholder="password" />
                            </div>
                            <input type="submit" value="Login" class="btn btn-inverse" />
                          </form>
                          <div>
                            Forgetting your password? <a href="/password_recovery">Recover it.</a>
                          </div>
                          <form action="/guest_login" method="post">
                            <button class="btn btn-inverse">Play as Guest</button>
                          </form>
                        </div>
                    <% } %>
                </ul>
            </nav>
          <% } %>
        </header>