<% var title = 'Table ' + table_id; %>
<% include head %>
        <h1 id="welcome">
            Hello Bitcoin Poker world! You are in <%= title %>.
        </h1>
<div id="pokerTable">
        <canvas id="canvas" width="690" height="480" style= 'z-index :0'></canvas>
       
    <form id = 'cashier' style='z-index: 1; display: none'>    
           <input type = 'radio' name = 'addChips' value="max" size="-4">max<br>
<input type = 'radio' name = 'addChips' value="otherAmount">Other Amount: <input type = 'text' value="addAmount" width="20px" height="17px"> <br>
          <input type = 'radio' name = 'addChips' value="autoRebuy">Auto-Rebuy: <input type = 'text' value="autoRebuyAmount">     </form>  
    
    </div>
        <div id="chat">
            <div id="chat_messages">
            </div>
            <form id="chat_form">
                <input type="text" id="chat_sender" placeholder="My Name" 
                    <% if (locals.username) { %>
                        value="<%= locals.username %>"
                    <% } %>
                />
                <input type="text" id="chat_message" placeholder="Message" />
                <input type="submit" id="chat_submit" value="Send Message" />
            </form>
        </div>

        <!--include values to expose to scripts-->
        <input type="hidden" id="server_values" data-table_state="<%= table_state %>" data-table_state_url="/table_state/<%= table_id %>" data-room_state="<%= room_state %>" />

        <!--display list of users-->
        <% include users %>
        <% include plugins %>
        <script src="/js/chat.js"></script>
        <script src="http://code.createjs.com/easeljs-0.6.0.min.js"></script>
        <script src="/js/pokertable.js"></script>
        <script src="/js/table_socket.js"></script>
<% include foot %>