<!-- table_list.ejs - Requires /js/table_list.js -->
<table id="table_list" class="table_list">
  <thead>
    <tr>
      <th>#</th>
      <th>Blinds (Small / Big)</th>
      <th>Currency</th>
      <th># Players</th>
    </tr>
  </thead>
  <tbody>
    <%
    var i, len
      , table_game, game, table_name, table_id
      , constants, CURRENCY_ABBREV, CURRENCY_PER_CHIP
      , SMALL_BLIND, BIG_BLIND, MIN_CHIPS, MAX_CHIPS
      , seats_taken, MAX_PLAYERS;

    for (i = 0, len = table_games.length; i < len; i++ ) {
      table_game = table_games[i];
      game = table_game.game;
      table_name = table_game.table_name;
      table_id = table_game.table_id;
      constants = game.constants();
      CURRENCY_ABBREV = game.CURRENCY_ABBREV;
      CURRENCY_PER_CHIP = game.CURRENCY_PER_CHIP;
      SMALL_BLIND = game.roundNumCurrency(game.SMALL_BLIND * CURRENCY_PER_CHIP);
      BIG_BLIND = game.roundNumCurrency(game.BIG_BLIND * CURRENCY_PER_CHIP);
      MIN_CHIPS = game.roundNumCurrency(game.MIN_CHIPS * CURRENCY_PER_CHIP);
      MAX_CHIPS = game.roundNumCurrency(game.MAX_CHIPS * CURRENCY_PER_CHIP);

      seats_taken = table_game.seats_taken;
      MAX_PLAYERS = game.MAX_PLAYERS;
    %>
      <tr id="<%=table_name %>">
        <td> <%= table_id %> </td>
        <td> <%= SMALL_BLIND %> / <%= BIG_BLIND %> </td>
        <td>
            <%= game.CURRENCY %>
            (<%= CURRENCY_ABBREV === 'sat' ? '10E-8 BTC' : 'play money' %>)
        </td>
        <td> <%= seats_taken %> / <%= MAX_PLAYERS %> </td>
      </tr> 
   <% } %>
  </tbody>
</table>