<% var title = 'Table ' + table_id; %>
<% include head %>
        <h1 id="welcome">
            <%= title %>
        </h1>
        <span id="maobucks">
            mao bucks: <%= maobucks %>
            <form action="/update_maobucks" method="post">
            <input type="number" name="maobucks_update" placeholder="100" />
            <button> God mode my Maobucks </button>
            </form>
        </span>

       
        <div id="pokerTableWrapper">
            <div id="pokerCanvasDiv">
                    <canvas id="canvas" width="690" height="480" style= 'z-index :0'></canvas>
                   </div> <!-- pokerCanvasDiv-->
            <div id="cashierDiv">
                <form id = 'cashier' style='display: none'>    
                       <input type = 'radio' id ="maxRadio" name = 'addChipsRadio' value="max" size="-4">
                    <p id = 'maxText'>Max</p>
                    <input type = 'text' id="maxAmount">
            <input type = 'radio' id ="otherAmountRadio" name = 'addChipsRadio' >
                <p id = 'otherAmountText'>    Other Amount: </p>
                    <input type = 'text' id="otherAmount"> 
                      <input type = 'radio' id ="autoRebuyRadio" name = 'addChipsRadio' >
                 <p id = 'autoRebuyText'>   Auto-Rebuy to: </p>
                    <input type = 'text' id="autoRebuyAmount" >     </form>      
            </div> <!-- cashier-->
            <div id="chatDiv">
                <form id='chatForm'>
           <input type = 'text' id="chat">
                <input type = 'text' id="trolol" style ="display :none">
                </form>
             </div> <!-- chatDiv-->
               
        </div> <!-- poker table wrapper -->
            <!--include values to expose to scripts-->

            <input type="hidden" id="server_values" data-table_state="<%= table_state %>" data-table_state_url="/table_state/<%= table_id %>" data-room_state="<%= room_state %>" />
        <div id="options">
            <input type="button" id="hideshow" value="hide/show" />
            <div id="chat_table" class="chat_container">
                <% include chat %>
            </div>
        </div>
        <% include plugins %>
        <script src="/js/chat.js"></script>
        <script src="/js/vendor/easeljs-0.6.0.min.js"></script>
<script src="/js/vendor/soundjs-0.4.0.min.js"></script>
<script src="/js/vendor/tweenjs-0.4.0.min.js"></script>
<script src="/js/vendor/preloadjs-0.3.0.min.js"></script>
<script src="/js/vendor/jquery-ui.js"></script>
<link type="text/css" rel="stylesheet" href="/css/jquery-ui.css" />
  <link type="text/css" rel="stylesheet" href="/css/pokertable.css" />
<!--
<script src="/js/vendor/preloadjs/AbstractLoader.js"></script>
<script src="/js/vendor/preloadjs/LoadQueue.js"></script>
<script src="/js/vendor/preloadjs/TagLoader.js"></script>
<script src="/js/vendor/preloadjs/XHRLoader.js"></script>
<script src="/js/vendor/easeljs/EventDispatcher.js"></script>



-->
<script src="js/vendor/async.js"></script>

        <script src="/js/pokertable.js"></script>


<% include foot %>