<%
var title = 'Table ' + table_id;
title += ' - NLHE ' + game.SMALL_BLIND * game.CURRENCY_PER_CHIP;
title += '/' + game.BIG_BLIND  * game.CURRENCY_PER_CHIP + ' ' + game.CURRENCY_ABBREV;
title += ' - Logged in as ' + username;
%>
<% include head_start %>

<!-- YAHOO YUI
Fonts CSS - Recommended but not required
<link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/2.9.0/build/fonts/fonts-min.css">
 
Core + Skin CSS
<link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/2.9.0/build/menu/assets/skins/sam/menu.css">
 -->


        <link type="text/css" rel="stylesheet" href="/css/pokertable.css" />
            <link type="text/css" rel="stylesheet" href="/css/vendor/bootstrap.min.css" />
 <!--   <link type="text/css" rel="stylesheet" href="/css/vendor/jquery.qtip.min.css" />   -->
    <link type="text/css" rel="stylesheet" href="/css/vendor/jquery.qtip.nightly.css" />  
     <link type="text/css" rel="stylesheet" href="/css/vendor/monoxil.font.css" />   


<link type="text/css" rel="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" /> 


  <!--  <link type="text/css" rel="stylesheet" href="/css/vendor/jquery.mCustomScrollbar.css" /> -->
       <!--          <link type="text/css" rel="stylesheet" href="/css/vendor/bootstrap.1.1.1.min.css" />   -->
    <!--   <link type="text/css" rel="stylesheet" href="/css/vendor/jquery.contextmenu.css" />   -->


<% include head_end_and_header %>

        <div id="pokerTableWrapper" >
            <div id="pokerCanvasDiv"  width = '670' height = '450'>
            <canvas id = 'iframeSize' width = '670' height = '450'></canvas>
             <div id="tableChatFullTextDiv">
            <p id = 'tableChatFullText' ></p>

              </div> <!-- tableChatFullTextDiv-->
              
                   </div> <!-- pokerCanvasDiv-->

            <div id="cashierDiv">
                <form id = 'cashier' style='display: none'>    

  <div id="maxDiv">
                       <input type = 'radio' id ="maxRadio" name = 'addChipsRadio' value="max" size="-4">
                    <p id = 'maxText'>Max:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    &nbsp;</p>
                    <input type = 'text' id="maxAmount">

</div> <!-- maxDiv-->

<div id="otherAmountDiv">
            <input type = 'radio' id ="otherAmountRadio" name = 'addChipsRadio' >
                <p id = 'otherAmountText'>    Other Amount: </p>
                    <input type = 'text' id="otherAmount"> 

</div> <!-- otherAmountDiv-->

<div id="autoRebuyDiv">

               <!--        -->
               <input type = 'radio' id ="autoRebuyRadio" name = 'addChipsRadio' >
                 <p id = 'autoRebuyText'>   Auto-Rebuy to: </p>   
                 
                    <input type = 'text' id="autoRebuyAmount" >     </form>  

</div> <!-- autoRebuyDiv-->

            </div> <!-- cashier-->

              
           <input type = 'text' id="chat">

           <input type = 'text' id="betSize">

               
        </div> <!-- poker table wrapper -->

        <!--include values to expose to scripts-->
        <input type="hidden" id="server_values"
               data-table_state="<%= table_state %>"\
               data-table_name="<%= table_name %>"\               
               data-table_state_url="/table_state/<%= table_id %>"\
               data-preferences_url="/preferences/<%= table_id %>"\
               data-room_state="<%= room_state %>"\
               data-quick_play="<%= quick_play %>"
        />

        <% include plugins %>
        <script src="/socket.io/socket.io.js"></script>
        <script src="/js/socket.js"></script>

 <script src="/js/vendor/jquery.ui-contextmenu.min.js"></script> 
    <script src="/js/vendor/jquery.contextmenu.js"></script>
  <script src="/js/vendor/jquery.numeric.js"></script>
  <script src="/js/vendor/bootstrap.min.js"></script>
<!--   <script src="/js/vendor/jquery.qtip.min.js"></script>  -->
     <script src="/js/vendor/jquery.qtip.nightly.js"></script> 
  <!--   <script src="http://qtip2.com/v/nightly/jquery.qtip.js"></script>  -->
 <!--   <script src="/js/vendor/jquery.actual.min.js"></script>  -->
    <script src="/js/vendor/jquery.text-dimensions.js"></script> 


        <script src="js/vendor/async.js"></script>
       <!--  <script src="/js/vendor/easeljs-0.6.1.min.js"></script> 
   <script src="http://code.createjs.com/easeljs-0.7.0.min.js"></script>
       -->
    <script src="/js/vendor/easeljs-0.7.0.min.js"></script> 
           <script src="/js/vendor/soundjs-0.4.1.min.js"></script>
         <script src="/js/vendor/soundjs.flashplugin-0.4.1.min.js"></script>
        <script src="/js/vendor/tweenjs-0.5.0.min.js"></script>
        <script src="/js/vendor/accounting.min.js"></script>


      <!--  <script src="/js/vendor/preloadjs-0.3.0.min.js"></script>  -->

         <script src="/js/vendor/imagesloaded.pkgd.min.js"></script> 

 
<!--YUI YAHOO
Dependencies  for YUI MENU
<script src="http://yui.yahooapis.com/2.9.0/build/yahoo-dom-event/yahoo-dom-event.js"></script>
<script src="http://yui.yahooapis.com/2.9.0/build/container/container_core-min.js"></script>
 
Source File for YUI MENU
<script src="http://yui.yahooapis.com/2.9.0/build/menu/menu-min.js"></script>

-->


        

         <!-- SCROLL WHEEL THINGS  -->
  <script src="/js/vendor/jquery.mousewheel.js"></script>

        <script src="/js/vendor/jquery-ui.js"></script>
         <script src="/js/vendor/jquery.nicescroll.js"></script>
         <script src="/js/vendor/jquery.scrollTo-1.4.3.1-min.js"></script>

     <!--      <script src="/js/vendor/jquery.mCustomScrollbar.js"></script>     -->

 <!--    i tried using this one insead of separate and doesnt work
      <script src="/js/vendor/jquery.mCustomScrollbar.concat.min.js"></script>    -->


        <!-- PREloading things
        <script src="/js/vendor/preloadjs/AbstractLoader.js"></script>
        <script src="/js/vendor/preloadjs/LoadQueue.js"></script>
        <script src="/js/vendor/preloadjs/TagLoader.js"></script>
        <script src="/js/vendor/preloadjs/XHRLoader.js"></script>
        <script src="/js/vendor/easeljs/EventDispatcher.js"></script>
        -->


<script src="js/vendor/bootstrap.min.js"></script>
   <script src="/js/pokertable.min.js"></script>
    <script>
      // set iframe header if this is an embedded table
      if (_.isObject(parent.iframes)) {
        var table_name = $('#server_values').data('table_name');
        parent.iframes.setIframeTitle(table_name, $('title').text());
      }
    </script>
<% include foot %>