<table id="table_list">
  <thead>
    <tr>
      <th>Table</th>
      <th>Blinds</th>
      <th>Buyin Limits</th>
      <th># Players</th>
    </tr>
  </thead>
  <tbody>
    <%
    var i, len
      , table_game, table_name, table_id
      , CURRENCY, MAOBUCKS_PER_CHIP
      , SMALL_BLIND, BIG_BLIND, MIN_CHIPS, MAX_CHIPS
      , seats_taken, MAX_PLAYERS;

    for (i = 0, len = table_games.length; i < len; i++ ) {
      table_game = table_games[i];
      table_name = table_game.table_name;
      table_id = table_game.table_id;
      CURRENCY = table_game.CURRENCY === 'maobucks' ? 'MB' : 'unknown';
      MAOBUCKS_PER_CHIP = table_game.MAOBUCKS_PER_CHIP;
      SMALL_BLIND = table_game.SMALL_BLIND * MAOBUCKS_PER_CHIP;
      BIG_BLIND = table_game.BIG_BLIND * MAOBUCKS_PER_CHIP;
      MIN_CHIPS = table_game.MIN_CHIPS * MAOBUCKS_PER_CHIP;
      MAX_CHIPS = table_game.MAX_CHIPS * MAOBUCKS_PER_CHIP;

      seats_taken = table_game.seats_taken;
      MAX_PLAYERS = table_game.MAX_PLAYERS;

      //MIN_PLAYERS = table_game.MIN_PLAYERS;
    %>
      <tr id="<%=table_name %>">
        <td> <%= table_id %> </td>
        <td> <%= SMALL_BLIND %> / <%= BIG_BLIND %> <%= CURRENCY %> </td>
        <td> <%= MIN_CHIPS %> - <%= MAX_CHIPS %> <%= CURRENCY %> </td>
        <td> <%= seats_taken %> / <%= MAX_PLAYERS %> </td>
      </tr> 
   <% } %>
  </tbody>
</table>