<% include head %>
    <h1> VERIFY E-MAIL</h1>
    <div>
    username: <%= username %>
    </div>
    <div>
    registration date: <%= registration_date %>
    </div>
    <div>
        <form action="/account" method="post">
            email address: 
                <% if (email === undefined) { %>
                <input field="text" name="email" placeholder="enter e-mail address" />
                <button> submit </button>
                <% } else { %>
                     <%= email %>
                   <% } %>
       </form>
    </div>
    <div>
    email confirmed: <%= email_confirmed %>
    </div>
    <div>
    fun bucks: <%= funbucks %>
    <form action ="/update_funbucks" method="post">
    <input type="number" name="funbucks_update" placeholder="100" />
    <button> God mode my funbucks </button>
    </form>
    </div>
    <% include plugins %>
<% include foot %>